extends layout

block content
	div.container

		div.container-narrow
			div.masthead
		
		hr

		div.container-fluid
			div.row-fluid
				div.span9
					div.img-polaroid(id="mimapa")
				div.span3

					div.well.sidebar-nav
						ul.nav.nav-list
							li.nav-header(id="gaugeCO2")
							li.active(id="gaugeTVOC")
							li.active(id="gaugeTEMP")
							li.active(id="gaugePres")
							li.active(id="gaugeAlt")
							li.active(id="gaugeHUM")
							li.active(id="gaugeVolt")
							li.active(id="gaugeSSID")