extends layout

block content
	h1 Panel general de monitoreo
		img(src='assets/EC_logo.png', style='width:120px;height:100px;position:absolute; TOP:10px; LEFT:1080px;')
		div.header-container
			h2.muted Tracking CatSat Zero.
			
		hr
	div.container
		div.container-narrow
			div.masthead
			div.img-polaroid(id="mimapa")
		hr


